/csvs/
/selected/
/skycube-*.exr
/stars.lzop
/it2dl
/cuberenderer
/select-data
/merge-data
/canvasrenderer
/canvas.exr
/debug
/cuberenderer.gcda
/recordcount.txt
/sightings.txt
/stars
/temperatures.exr
